
@import url("https://cdn.jsdelivr.net/npm/@layered/layered-design@1.5.6/dist/layered.css");

body {
	
}

.bg-ui-green {
	background-color: rgb(37, 79, 26);
}

.color-lime {
	color: rgb(210, 232, 35);
}

.navbar {
	background-color: rgba(255,255,255,0.75);
	backdrop-filter: blur(9px);
	margin-top: 0.3rem;
	border-radius: 23px;
}

.table thead th {
	color: #64748b;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 15px;
	letter-spacing: 0.3px;
}

.table-hover > tbody > tr:hover {
	--bs-table-accent-bg: #fafafa;
}

.card-table {
	margin-left: -1rem;
	margin-right: -1rem;
}

.card-table .table {
	margin-bottom: 0;
}

.card-table .table tr td:first-child,
.card-table .table tr th:first-child {
	padding-left: 1rem;
}

.card-table .table tr td:last-child,
.card-table .table tr th:last-child {
	padding-right: 1rem;
}
